.input {
  width: 100%;
  border: 1px solid #d1d5db;
  border-radius: 15px;
  padding: 12px 24px;
  font-family: MPFD500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--white);
  background: transparent;
  margin-top: 8px;
  outline: none;
}

.errorText {
  color: var(--white);
  font-family: MPFD400;
  font-size: 10px;
  line-height: 1.2;
  margin-top: 8px;
}

.radioGroup {
  display: flex;
  gap: 16px;
  margin-top: 8px;
  margin-bottom: 16px;
  font-family: MPFD400;
  font-size: 12px;
  line-height: 1.5;
  color: var(--white);
}

.radioLabel {
  display: flex;
  align-items: center;
  gap: 8px;
}

.labelWithIcon {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 16px;
}

.textForIcon {
  font-family: MPFD500;
  font-size: 14px;
  color: var(--white);
}

.icon {
  width: 28px;
  height: 28px;
}

.btnWrapper {
  margin-top: 32px;
  display: flex;
  gap: 8px;
  justify-content: center;
}

.addBtn {
  border-radius: 30px;
  padding: 12px 63px;
  background: var(--white);
  font-family: MPFD700;
  font-size: 16px;
  line-height: 1.5;
  color: var(--black);
}

.cancelBtn {
  border: 1px solid rgba(252, 252, 252, 0.4);
  border-radius: 30px;
  padding: 12px 45px;
  font-family: MPFD700;
  font-size: 16px;
  line-height: 1.5;
  color: var(--white);
}
