.form {
  display: flex;
  flex-direction: column;
}

.label {
  margin-top: 8px;
  margin-bottom: 8px;
}

.labelHeader {
  display: flex;
  align-items: center;
  gap: 4.5px;
}

.labelText {
  font-family: MPFD500;
  font-size: 14px;
  color: var(--white);
}

.inputIcon {
  width: 28px;
  height: 28px;
}

.input {
  width: 100%;
  border: 1px solid #d1d5db;
  border-radius: 15px;
  padding: 12px 24px;
  margin-top: 8px;
  font-family: MPFD500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--white);
}

.btnWrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 26px;
}

.saveButton {
  border-radius: 30px;
  padding: 12px 60px;
  width: 158px;
  background: var(--white);
  font-family: MPFD700;
  font-size: 16px;
  line-height: 1.5;
  color: var(--black);
}

.cancelButton {
  border: 1px solid rgba(252, 252, 252, 0.4);
  border-radius: 30px;
  padding: 12px 45px;
  width: 145px;
  font-family: MPFD700;
  font-size: 16px;
  line-height: 1.5;
  color: var(--white);
}

@media screen and (min-width: 768px) {
  .label {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin: 0;
  }

  .label:first-of-type {
    margin-bottom: 18px;
  }

  .input {
    padding: 16px 18px;
    width: 354px;
    margin: 0;
    font-family: MPFD400;
  }

  .btnWrapper {
    justify-content: center;
    gap: 10px;
    margin-top: 32px;
  }
}

