.list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 48px;
}

.item {
  font-size: 14px;
  color: var(--black-text);
  font-family: MPFD400;
  white-space: nowrap;
}

.item::after {
  content: "·";
  margin: 0 8px;
}

.tagItem:last-child::after {
  content: none;
  margin: 0;
}

.item:last-of-type::after {
  content: none;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .list {
    margin-bottom: 106px;
  }
}
