.header {
  display: flex;
  padding: 16px;
  justify-content: space-between;
}

.logoWrapper {
  display: flex;
  align-items: center;
  gap: 16px;
}

.logoIcon {
  width: 36px;
  height: 36px;
}

.logoText {
  color: var(--black);
  font-family: "MPFD600", sans-serif;
  font-size: 18px;
  line-height: 1.3;
  margin: 6 11 6 52;
}

.navLinks {
  display: none;
}

.userMenuWrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.userIconWrapper {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: var(--intense-green);
  display: flex;
  align-items: center;
  justify-content: center;
}

.userIcon {
  fill: var(--light-green);
}

.navIcon {
  stroke: var(--black);
}

.logOutBtn {
  display: none;
}

@media screen and (min-width: 768px) {
  .header {
    padding: 20px 32px;
  }

  .logoIcon {
    width: 40px;
    height: 40px;
  }

  .logoText {
    font-size: 22px;
    line-height: 1.5;
    margin: 4 13 4 56;
  }

  .rightSide {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  .userMenuWrapper {
    gap: 16px;
  }

  .userIconWrapper {
    width: 48px;
    height: 48px;
  }
}

@media screen and (min-width: 1440px) {
  .header {
    padding: 20px 100px;
  }

  .navIcon {
    display: none;
  }

  .navLinks {
    display: flex;
    align-items: center;
    gap: 28px;
    font-family: MPFD500, sans-serif;
    font-size: 14px;
    line-height: normal;
  }

  .userMenuWrapper {
    gap: 10px;
  }

  .logOutBtn {
    display: flex;
    align-items: center;
    gap: 6px;
    stroke: var(--black);
  }
}
