.statisticsWrapper {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 8px;
}

.text {
  font-family: MPFD500;
  font-size: 14px;
  color: var(--light-grey);
}

.value {
  font-family: MPFD500;
  font-size: 20px;
  color: var(--black);
}
