.formWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.title {
  font-family: MPFD600;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--white);
}

.description {
  font-family: MPFD400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--white);
}

