.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 200;
}

.modalContent {
  background-color: var(--intense-green);
  padding: 48px 16px 48px 16px;
  position: relative;
  border-radius: 15px;
  width: 342px;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
}

.iconClose {
  width: 24px;
  height: 24px;
  stroke: var(--white);
}

.formWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.title {
  font-family: MPFD600;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--white);
}

.description {
  font-family: MPFD400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--white);
}
