.logOutText {
  font-family: "MPFD500", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
}

.logOutIcon {
}

@media screen and (min-width: 1440px) {
  .logOutText {
    font-size: 16px;
  }
}
