/* MacPawFixelDisplay */

@font-face {
  font-family: "MPFD100";
  src: url("../public/fonts/MacPawFixelDisplay-Thin.otf") format("opentype");
  font-weight: thin;
  font-style: normal;
}

@font-face {
  font-family: "MPFD300";
  src: url("../public/fonts/MacPawFixelDisplay-Light.otf") format("opentype");
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: "MPFD400";
  src: url("../public/fonts/MacPawFixelDisplay-Regular.otf") format("opentype");
  font-weight: regular;
  font-style: normal;
}

@font-face {
  font-family: "MPFD500";
  src: url("../public/fonts/MacPawFixelDisplay-Medium.otf") format("opentype");
  font-weight: medium;
  font-style: normal;
}

@font-face {
  font-family: "MPFD600";
  src: url("../public/fonts/MacPawFixelDisplay-SemiBold.otf") format("opentype");
  font-weight: semi-bold;
  font-style: normal;
}

@font-face {
  font-family: "MPFD700"; /* This is the name I'll use in CSS */
  src: url("../public/fonts/MacPawFixelDisplay-Bold.otf") format("opentype"); /* The relative path to font file */
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "MPFD800";
  src: url("../public/fonts/MacPawFixelDisplay-ExtraBold.otf")
    format("opentype");
  font-weight: extra-bold;
  font-style: normal;
}

:root {
  --white: #fff;
  --whiteF8: #f8f8f8;
  --whiteFc: #fcfcfc;
  --black: #121417;
  --black-text: rgba(18, 20, 23, 0.8);
  --intense-green: #85aa9f;
  --light-green: #a5c0b8;
  --spring-green: #3cbf61;
  --spring-intense-green: #2bd627;
  --spring-light-green: #d4f8d3;
  --light-grey: rgba(18, 20, 23, 0.5);
  --border-grey: rgba(18, 20, 23, 0.1);
  --border-green: 1px solid #85aa9f;
  --border-red: 1px solid #d80027;
  --border-tab: 1px solid #dbdbdb;
  --border-button: 1px solid rgba(18, 20, 23, 0.1);
  --icon-fill: rgba(252, 252, 252, 0.7);
  --background-green: rgba(133, 170, 159, 0.1);
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--whiteF8);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

input {
  border: none;
  outline: none;
  background-color: transparent;
  box-shadow: none;
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 9999s ease-out;
  -webkit-transition: background-color 9999s ease-out;
  box-shadow: 0 0 0px 1000px transparent inset !important;
  box-shadow: 0 0 0px 1000px var(--input-background-color) inset !important;
}

/* Mobile screen */
.container {
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
  max-width: 375px;
}

/* Tablet screen */
@media screen and (min-width: 768px) {
  .container {
    padding-right: 32px;
    padding-left: 32px;
    max-width: 768px;
  }
}

/* Desktop screen */
@media screen and (min-width: 1440px) {
  .container {
    padding-right: 24px;
    padding-left: 24px;
    max-width: 1440px;
  }
}

h2 {
  font-family: "MPFD600", sans-serif;
  color: var(--black);
}

p {
  font-family: "MPFD500", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: var(--black-text);
}

@media screen and (min-width: 768px) {
  p {
    font-size: 20px;
  }
}
